$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
);

@mixin media-breakpoint-up($name) {
  $min: map-get($breakpoints, $name);

  @media (min-width: $min) {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  $max: map-get($breakpoints, $name) - 1px;

  @media (max-width: $max) {
    @content;
  }
}
