$primary-color: #18acc4;
$primary-color-dark: #007a8d;

$secondary-color: #fdcb13;
$secondary-color-dark: #de9e1f;

$positive-color: #0FA866;

$neutral-color-black: #1f2d30;
$neutral-color-gray: #fbfbfb;
$neutral-color-white: #ffffff;

$modal-overlay-color: rgba($neutral-color-black, .88);
