*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: $neutral-color-gray;
  color: $neutral-color-black;
  font-size: 1.6rem;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-family: $font-family;
}
