@mixin triangle($size: $space-s, $direction: 'up', $color: $neutral-color-black) {
  border: $size solid transparent;
  content: '';
  height: 0;
  width: 0;
  border-#{$direction}-color: $color;
}

@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin min-size($size) {
  min-height: $size;
  min-width: $size;
}
