$font-family: proxima-nova, Arial, Helvetica, 'Open Sans', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-small: 1.3rem;
$font-size-normal: 1.6rem;
$font-size-large: 1.9rem;
